#
# This is a main config file. You can define here a few main settings:
# - where to find configuration scripts
# - where to find addons
# - where to find language files
#
# This configuration file can be overridden by a config in your HOME folder:
# /root/.nm_helpers 
#
# You can copy this file to /root/.nm_helpers.


# Where are your configuration scripts?
# 
# SCRIPTS_DIR = default location is subdir "langs" of the nm_helpers location
# That is usually: /etc/NetworkManager/dispatcher.d/addons
#LANGS_DIR=/etc/NetworkManager/dispatcher.d/langs


# Where are the addons?
#
# ADDONS_DIR = default location is subdir "langs" of the nm_helpers location
# That is usually: /etc/NetworkManager/dispatcher.d/addons
# IMPORTANT: addons scripts has to be executable to be user
#ADDONS_DIR=/etc/NetworkManager/dispatcher.d/addons

# Location of language files.
#
# LANGS_DIR = default location is subdir "langs" of the nm_helpers location
# That is usually: /etc/NetworkManager/dispatcher.d/langs 
#LANGS_DIR=/etc/NetworkManager/dispatcher.d/langs

# default language for log messages. "en" (english) is default
#LOG_LANG=en


